body{
    background-color: blue;
}

#container>div{
    display: flex;
    justify-content: center;
}


.row{
    display: block;
}
.square {
    background-color: red;
    border: 2px solid yellow;
    width: 100px;
    height: 100px;
    outline-style: none;
    font-size: 60px;
}

.square:hover{
    background-color: #ff0;
    border: 2px solid red;
}

.text-field{
    color: black;
    -webkit-text-fill-color: red; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#message{
    font-size: 50px;
    color: black;
    -webkit-text-fill-color: red; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}
.winning-square{
    background-color: yellow;
    border: 2px solid red;
}

#playAgain{
    display: none;
}